.samples {
    padding: 67px 0 67px 160px;
    background-color: #ffffff;
    position: relative;

    @media (max-width: 1250px) {
        padding: 67px 0 67px 100px;
    }
    @media (max-width: 992px) {
        padding: 40px 0 40px 80px;
    }
    @media (max-width: 870px) {
        padding: 40px 0 40px 40px;
    }
    @media (max-width: 768px) {
        padding: 30px 0 30px 25px;
    }
    @media (max-width: 650px) {
        padding: 30px 15px;
    }

    // .samples__title-wrapper
    &__title-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 749px) {
            justify-content: space-between;
        }
        @media (max-width: 649px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .samples__title
    &__title {
        flex-basis: 46%;
        margin: 0 3em;

        @media (max-width: 992px) {
            flex-basis: 50%;
            margin: 0 2em;
        }
        @media (max-width: 749px) {
            flex-basis: 60%;
            margin: 0 20px 0 0;
        }
        @media (max-width: 649px) {
            align-self: flex-start;
            max-width: 11em;
            margin: 0 0 20px 0;
        }
    }

    // .samples__slider
    &__slider {
        margin-top: 55px;
        @media (max-width: 768px) {
            margin-top: 45px;
        }
        @media (max-width: 649px) {
            margin-top: 20px;
        }
    }

    // .samples__img-wrapper
    &__img-wrapper {
        text-align: center;
    }

    // .samples__img
    &__img {
        max-width: 100%;
    }
}
